---
layout: base
---
<header class="site-header blog-index-header">
    {% include navbar.html %}
    <div class='cover_overlay'>
        <div class="content">
            <h1>{{ site.info.title }}</h1>
            <h2 class="project-tagline">{{ site.info.subtitle }}</h2>
            {% include social_links.html %}
        </div>
    </div>
</header>

<article>
    <div class="container">
        <section>
          <h3>Polyaxon was built with the following goals:</h3>

          <ul>
            <li>Modularity: The creation of a computation graph based on modular and understandable modules, with the possibility to reuse and share the module in subsequent usage.</li>

            <li>Usability: Training a model should be easy enough, and should enable quick experimentations.</li>

            <li>Configurable: Models and experiments could be created using a YAML/Json file, but also in python files.</li>

            <li>Extensibility: The modularity and the extensive documentation of the code makes it easy to build and extend the set of provided modules.</li>

            <li>Performance: Polyaxon is based on internal tensorflow code base and leverage the builtin distributed learning.</li>

            <li>Data Preprocessing: Polyaxon provides many pipelines and data processor to support different data inputs.</li>
          </ul>
        </section>

        <section>
          <h3>Credit</h3>
          <p>
              This work is based and was inspired from different projects, tensorflow.contrib.learn, keras, sonnet, and seq2seq. The idea behind creating this library is to provide a tool that allow engineers and researchers to develop and experiment with end to end solutions.
          </p>
          <p>
              The choice of creating a new library was very important to have a complete control over the apis and future design decisions.
          </p>
        </section>
    </div>
</article>

</div>
