---
layout: base
---
<header class="site-header index-header">
    {% include navbar.html %}
    <h1 class="project-name">
        <img src="/images/logo_white.svg" alt="polyaxon" align="center" style="width:90px;">{{ site.info.title }}
    </h1>
    <h2 class="project-tagline">{{ site.info.subtitle }}</h2>
    <a href="https://github.com/{{ site.info.github }}" class="btn">View on GitHub</a>
    <a href="/docs.html" class="btn">View Docs</a>
</header>
<article>
    <div class="container">
        {{ content }}
    </div>
</article>
